---
interface Props {
  to: string;
  activeClass: string;
}

const { to, activeClass } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;

let className = "text-inherit";

if (pathname === to || `${pathname}/` === to) {
  className = activeClass;
}
---

<li class="block whitespace-nowrap tracking-0.5px">
  <a class={className} href={to}>
    <slot />
  </a>
</li>
