---
import Grade from "@/components/Grade.astro";
import LongFormText from "@/components/LongFormText.astro";
import { twMerge } from "tailwind-merge";

interface Props {
  grade: string;
  date: Date;
  text: string;
  class?: string;
}

const dateFormat = new Intl.DateTimeFormat("en-US", {
  weekday: "short",
  month: "short",
  day: "numeric",
  year: "numeric",
  timeZone: "UTC",
});

function formatDate(date: Date) {
  return dateFormat.format(date);
}

const props = Astro.props;
---

<div class={twMerge("flex flex-col gap-y-8", props.class)}>
  <div class="flex flex-col items-center">
    <Grade grade={props.grade} height={32} />
    <div class="flex flex-col items-center tracking-0.5px text-subtle">
      <span>on</span>
      {formatDate(props.date)}
    </div>
  </div>
  <LongFormText text={props.text} class="max-w-prose" />
</div>
