---
import StillListItem from "./StillListItem.astro";
import type { ComponentProps } from "astro/types";

interface Props {
  titles: ComponentProps<typeof StillListItem>[];
  seeAllLinkText: string;
  seeAllLinkTarget: string;
}

const props = Astro.props;
---

<ul
  class="w-full tablet:grid tablet:w-auto tablet:grid-cols-[repeat(2,minmax(100px,312px))] tablet:gap-8 tablet:px-gutter desktop:max-w-unset desktop:grid-cols-[repeat(4,1fr)] desktop:px-pageMargin desktop:pt-2"
>
  {
    props.titles.map((item) => {
      return <StillListItem {...item} />;
    })
  }
  <li
    class="col-[1_/_-1] block px-gutter py-4 text-right shadow-bottom shadow-border tablet:absolute tablet:right-0 tablet:top-0 tablet:shadow-none desktop:right-[var(--gutter-width)]"
  >
    <a href={props.seeAllLinkTarget}>
      All{" "}
      <span class="inline tablet:hidden desktop:inline">
        {props.seeAllLinkText}
      </span>{" "}
      &#8594;
    </a>
  </li>
</ul>
