---
import Mast from '@/components/Mast.astro';
import Footer from '@/components/Footer.astro';
import "./base.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
<div>
	<a
	  href="#content"
	  class="bg-subtle text-accent translate-skip-to-content absolute left-1/2 top-0.5 z-50 mx-auto px-6 py-2 text-center"
	>
	  Skip to content
	</a>
	<div
	  class={"image-filter bg-notcomingsoon max-w-canvas desktop:sticky desktop:top-0 desktop:z-40 mx-auto min-h-4 w-full"}
	>
	</div>
	<div class="max-w-canvas bg-default mx-auto flex min-h-full flex-col">
	  <Mast />
	  <div class="grow" id="content">
		<slot />
	  </div>
	  <Footer />
	</div>
  </div>
  </body>
</html>
